@font-face {
    font-family: 'InterTight-Medium';
    src: url("/static/InterTight-Medium.ttf") format('truetype');
}

@font-face {
    font-family: 'InterTight-SemiBold';
    src: url("/static/InterTight-SemiBold.ttf") format('truetype');
}

@font-face {
    font-family: 'InterTight-Bold';
    src: url("/static/InterTight-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'InterTight-Regular';
    src: url("/static/InterTight-Regular.ttf") format('truetype');
}